<h2>Finished observation <fa-icon [icon]="faImages"></fa-icon>{{observation}}</h2>

<div *ngIf="observation$ | async; let obs;">
    <p>Telescopes: {{obs[0].telescopes.join(', ')}}</p>
</div>

<ng-template #loading>
    (loading)
</ng-template>

<h4>Raw files</h4>
<pytel-list-images [module]="module" [observation]="observation" [reduction_status]="0" [itemsPerPage]="10">
</pytel-list-images>

<h4>Reduced files</h4>
<pytel-list-images [module]="module" [observation]="observation" [reduction_status]="1" [itemsPerPage]="10">
</pytel-list-images>
