<div class="row" *ngIf="count$ | async as count">
    <div class="col-6">
        <pagination #pagination [totalItems]="count" [itemsPerPage]="itemsPerPage"
                    [boundaryLinks]="true" [maxSize]="5"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    (pageChanged)="pageChanged($event)"></pagination>
    </div>
    <div class="col-6">
        <div class="float-right">
            {{count}} item(s),
            per page:
            <select class="select" (change)="itemsPerPage=$event.target.value; updateList();">
                <option [selected]="itemsPerPage==10" value="10">10</option>
                <option [selected]="itemsPerPage==25" value="25">25</option>
                <option [selected]="itemsPerPage==50" value="50">50</option>
                <option [selected]="itemsPerPage==100" value="100">100</option>
            </select>
        </div>
    </div>
</div>

<table class="table thead-dark table-striped table-bordered table-hover table-sm" style="font-size: small">
    <tr>
        <th>#</th>
        <th>Filename</th>
        <th>Date Obs</th>
        <th>Type</th>
        <th>Target</th>
        <th>Bin</th>
        <th>Filter</th>
        <th>Exp</th>
        <th>Download</th>
    </tr>
    <ng-template #loading>
        <tr>
            <td colspan="9">
                <div class="loader"></div>
            </td>
        </tr>
    </ng-template>
    <tbody *ngIf="images !== null; else loading">
    <tr *ngFor="let img of images; index as i;">
        <td>{{i + 1 + (currentPage * itemsPerPage)}}</td>
        <td>
            <a [routerLink]="['/', imagedb_path, 'image', img.filename]">
                <fa-icon [icon]="faImage"></fa-icon>
                {{img.filename | basename}}
            </a>
        </td>
        <td>{{img.date_obs}}</td>
        <td>{{img.image_type}}</td>
        <td>{{img.target_name}}</td>
        <td>{{img.binning}}</td>
        <td>{{img.filter}}</td>
        <td>{{img.exp_time}}s</td>
        <td>
            <a [href]="env.basePath + '/download/' + img.scheme + ':' + img.filename">
                <fa-icon [icon]="faDownload"></fa-icon>
                download
            </a>
        </td>
    </tr>
    <tr *ngIf="images?.length==0">
        <td colspan="9" style="text-align: center">No images</td>
    </tr>
    </tbody>
</table>
