<h2>Observations in night {{night}}</h2>

<table class="table thead-dark table-striped table-bordered table-hover table-sm">
    <tr>
        <th>Observation</th>
        <th>Task</th>
        <th>Targets</th>
        <th>Start</th>
        <th>#Img</th>
        <th>Tel</th>
        <th>Download</th>
    </tr>
    <tr *ngFor="let obs of observations$ | async">
        <td><a [routerLink]="['../../observation', obs.name]">{{obs.name}}</a></td>
        <td>{{obs.task_name}}</td>
        <td>{{obs.target_names.join(', ')}}</td>
        <td>{{obs.start_time}}</td>
        <td>{{obs.image_count}}</td>
        <td>{{obs.telescopes.join(', ')}}</td>
        <td></td>
    </tr>
</table>