<div class="row" *ngIf="focus_status$ | async; let status">
    <div class="col-md-4">
        <h3>Focus</h3>
        <form #focusForm="ngForm" (submit)="track(focusForm)">
            <div class="form-group row">
                <label for="curFocus" class="col-sm-4 col-form-label">Cur focus:</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control" id="curFocus"
                           value="{{status.Focus}} mm">
                </div>
            </div>
            <div class="form-group row">
                <label for="focus" class="col-sm-4 col-form-label">New focus:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="focus" id="focus" placeholder="Focus"
                           [(ngModel)]="focus" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!focusForm.form.valid">
                        Set focus
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="button" class="btn btn-block btn-default" (click)="set_optimal_focus()">
                        Set optimal focus
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
